.retrive{
    color:aquamarine;
    font-size: 50px;
    background-color: cornsilk;
}
.retrive2{
    color:blue;
    font-size: 50px;
    background-color: crimson;
}
.rpt{
    color:rgb(255, 0, 123);
    font-size: 20px;
    background-color: rgb(20, 220, 97);
}
#line{
    line-height: 35px;
    font-size: 15px;
    lighting-color: rgb(55, 12, 196);
}
.city {
    background-color: rgb(255, 255, 71);
    color: rgb(17, 59, 227);
    height: 25%;
    width: 15%;
    border: 4px solid rgb(5, 1, 0);
    /* margin: 35px; */
    padding: 10px;
}
#line2{
    background-color: aqua;
    color: rgb(223, 2, 2);
    margin-left: 17%;
}
#line3{
    background-color:blue;
    color:rgb(232, 17, 53);
    margin-left:34%;
}