.navigation-bar{
    background-color: black;
    height:30%;
    width:100%;
    color:aliceblue;
    paddind:10px;
    font-feature-settings:"mgrk";
    font: optional;
}
.logo{
    height:50px;
    width:50px;
    border-radius: 50%;
}