*{
    box-sizing:border-box;
}
body{
    font-family:poppins;
    font-size:18px;
    color:#fff;
}
.wrapper{
    background-color: rgba(0, 1, 0, 0.153);
    margin:auto;
    padding:50px;
    border-radius: 10px;
    box-shadow:0 0 10px #000;
    position:static;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:500px;
    height:690px;
}
.wrapper:before{
    background-image: url("https://img.freepik.com/premium-photo/orangutan-urban-style-with-headphones-jacket_727765-424.jpg?size=338&ext=jpg&ga=GA1.1.648257456.1674472843");
    width:100%;
    height:100%;
    -webkit-background-size:cover;
    background-size:contain;
    content: '';
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-1;
    display:block;
    filter:blur(3px);

}
.wrapper .header-text{
    font-size:32px;
    font-weight:600;
    padding-bottom:30px;
    text-align:center;
}
.wrapper input{
    margin:10px 0;
    border:none;
    padding:10px;
    border-radius:5px;
    width:100%;
    font-size:16px;
    font-family: poppins;
}
.wrapper input[type=checkbox]:checked + label:before{
    content:"\2713";
    font-size:20px;
    color:#262626;
    text-align:center;
    line-height:20px;
}
.wrapper span{
    font-size:14px;

}
.wrapper button{
    background-color:#fb5a2f;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    font-size:18px;
    padding:10px;
    margin:20px o;

}