.logo{
    height:50px;
    width:50px;
    border-radius: 50%;
}
/* svg{ */
    /* height: 20px; */
    /* width: 30px; */
/* } */
.navbar-brand{
  font-weight: bolder;
  font-size:xx-large;
}
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-display:inherit;
}
.music_world{
    height: 1000px;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkM-C_Kg3MxSycfzTGXrcxsLKA311g9Sd5YQ&usqp=CAU");
    background-size:cover;
}
.card{
    padding:20px;
    margin-left: 40px;
    background-size:150px;
    box-sizing:content-box;
}
